body {
	font-family: 'Vollkorn', Georgia, Times, serif;
	margin: 0 auto;
	width: 65%;
	min-width: 925px;
}

.dark {
	background-color: #E8E8E8;
}

#factsline, #topline {
	box-shadow: 0 0 4px 2px #60B0FF;
}

h1 {
	float: left;
}

h1, h2 {
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

h1, h2#majorsheader {
	margin: 0;
}

h2 {
	font-size: 20px;
	margin: 10px 0 0 0;
}

li {
	display: block;
	padding: 2px 0 2px 75px;
	
	font-size: 16px;
}

.light {
	background-color: #F0F0F0;	
}

.line {
	display: block;
	padding: 0;
	margin: 0;
}

.line, .container {
	width: 925px;
}

#majorsline, #nextstepsline {
	box-shadow: 0 0 4px 2px #FF6103;
}

#nextstepstext {
	margin: 4px 0 0 20px;
}

#nextsteps p {
	margin: 0;
	padding: 5px 0 5px 75px;
}

#personality {
	float: right;
	margin: 0;
	font-size: 56pt;
	color: #60B0FF;
}

#personalitytype {
	overflow: auto;
}

#printbutton {
	display: block;
	float: right;
	margin: 0;
}

.similarsubmit {
	color: #60B0FF;
	font-size: 18px;
	font-weight: 800;
	
 	padding: 0 0 0 10px;
 	margin: 0;
 	border: none;
 	background: transparent;

 	text-decoration: none;

	cursor: pointer;
}

.similarlist li {
	float: left;
	width: 60px;
	padding: 0;
}

.similarsubmit:hover {
	color: #FF6103;	
}

.similarlist {
	margin: 0;
	
	overflow: auto;
}

#topline {
	margin-top:45px;
	width: 720px;
}

span {
	font-weight: 600;
}

ul {
	list-style-type: none;
	margin: 4px 0 0 0;
	padding: 0 0 0 20px;
}

